*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --primary-color: #0a775f;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --text-color-primary: #333333;
    --text-color-white: #fff;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

body, html, h1, h2, h3, h4, h5, h6, p, div, span{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.button{
    width: fit-content;
    color: var(--text-color-white);
    background-color: var(--primary-color);
    border-radius: 100px;
    font-weight: var(--font-weight-500);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    font-variant: all-small-caps;
    padding: 16px 24px;
    transition: all .2s ease-in-out;
}

.button:hover{
    background-color: #075947;
    cursor: pointer;
}

a, ul, img{
    text-decoration: none;
    list-style: none;
    user-select: none;
}

@media only screen and (max-width: 1063px){
    .button{
        padding: 13px 21px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 876px){
    .button{
        padding: 11px 19px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 809px){
    .hero{
       .button{
        padding: 9px 17px;
        font-size: 9px;
       }
    }
}