.mission{
    background-color: #F3F3E8;
    margin: 20px;
    position: relative;

    &_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_img{
        margin-left: 70px;
    }

    &_content-wrapper{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &_title{
        font-weight: var(--font-weight-700);
        font-size: 48px;
        line-height: 56px;
        font-variant: all-small-caps;
        color: #000000;
    }

    &_desc{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: var(--text-color-primary);
        margin: 24px 0;
    }
}

.mission::after{
    content: "";
    background: url(/img/leaves-left-1.png) no-repeat;
    width: 231px;
    height: 281px;
    position: absolute;
    left: 0;
    top: 2%;
}