.header{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #F1D3AF;
    &_toggler{
        display: none;
    }
}
.header--open{
    background-color: #F3D7B7;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &_logo{
        display: flex;
        padding: 7px 20px;
    }

    &_list{
        display: flex;
    }

    &_link{
        padding: 7px 20px;
        color: var(--text-color-primary);
        font-weight: var(--font-weight-700);
        font-size: 16px;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: .2s ease-in-out;
    }

    &_link:hover, &_link:active{
        opacity: .6;
    }
    
}
.header--open{
    z-index: 999;
}

@media only screen and (max-width: 780px) {
    .header{
        padding: 20px;
        position: relative;
    }

    .navbar_list{
        display: none;
    }

    .header--open .navbar_list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 100%;
        left: -2.5%;
        width: 105.2%;
        height: 200px;
        background-color: #F3D7B7;
        z-index: 999;
        opacity: .97;
        text-align: center;
    }
    .header_toggler{
        margin-right: 3%;
        background:  #F1D3AF;
        border: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        height: 30px;
        &--line{
            width: 100%;
            height: 11%;
            background: #000;
        }
    }
    .header--open .header_toggler{
        background-color: #F3D7B7;
    }
    
}
@media only screen and (max-width: 750px) {
    .header--open .navbar_list{
        width: 105.4%;
    }
}
@media only screen and (max-width: 700px) {
    .header--open .navbar_list{
        width: 105.6%;
    }
}

@media only screen and (max-width: 650px) {
    .header--open .navbar_list{
        width: 105.8%;
    }
}

@media only screen and (max-width: 610px) {
    .header--open .navbar_list{
        width: 105.99%;
    }
}

@media only screen and (max-width: 601px) {
    .header--open .navbar_list{
        width: 105.1%;
        top: 98%;
    }
}

@media only screen and (max-width: 570px) {
    .header--open .navbar_list{
        width: 105.3%;
    }
}

@media only screen and (max-width: 520px) {
    .header--open .navbar_list{
        width: 105.5%;
        top: 60%;
    }
}


@media only screen and (max-width: 501px) {
    .header--open .navbar_list{
        width: 104.5%;
    }
}
@media only screen and (max-width: 460px) {
    .header--open .navbar_list{
        width: 104.7%;
    }
}

@media only screen and (max-width: 410px) {
    .header--open .navbar_list{
        width: 104.99%;
    }
}

@media only screen and (max-width: 390px) {
    .header--open .navbar_list{
        width: 105.5%;
    }
}
@media only screen and (max-width: 600px){
    .header{
        padding: 15px;
    }
}
@media only screen and (max-width: 500px){
    .header{
        padding: 10px;
    }
}